extends layout

block content
  h1= title
  p.login Login
  p.login #{data}
  form(action='/login',method='post')
        div.input
            span.label Mobile: &nbsp;
            input(type="text", name="mobile")
        div.input
            span.label Password: &nbsp;
            input(type="password", name="password")
        div.actions
            input(type="submit", value="Login")
  a(href="/signup")
   button(type="button") Sign Up